/* Apply styles to the holder */
.holder , .iteam-1{
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100vw; /* Take the full viewport width */
  height: 100vh; /* Take the full viewport height */
}

.item {
  width: 100px;
  height: 100px;
  background-color: wheat;
	padding:10px;
}
